
<div>
<div id="heading">
    <div id="content">
        <h2>ABOUT</h2>
    </div>
</div>

<!-- <mat-grid-list cols="12" rowHeight="500px" padding="0px" margin="0px">
    <mat-grid-tile colspan="5" class="image-container">
      <img src="assets/Img.jpeg" alt="Image">
    </mat-grid-tile>
    <mat-grid-tile colspan="6">
        <div class="text_block">
            <p>
                I'm a skilled software developer with experience in Python, JavaScript, and expertise in libraries/frameworks like React, Angular and Node.js. I'm also good with MongoDB, PostgreSQL and MySQL. I'm a quick learner and collaborate closely with team to create efficient, scalable, and user-friendly solutions that solve real-world problems. Let's work together to bring the best ideas to life!
            </p>
        </div>
    </mat-grid-tile>
  </mat-grid-list> -->

  <div class="container">
    <div class="image-container">
      <img src="assets/Img-removebg-preview.png" alt="Main Image">
    </div>
    <div class="sub-images">
      <div class="top-images">
        
            <img src="assets/Enthusiasm-removebg-preview.png" alt="Top Image 1">
        
        
            <img src="assets/Efficient-removebg-preview.png" alt="Top Image 2">
        
      </div>
      <div class="bottom-images">
        
            <img src="assets/Easy_Going-removebg-preview.png" alt="Bottom Image 1">
        
        
            <img src="assets/Energistic-removebg-preview.png" alt="Bottom Image 2">
        
      </div>
    </div>
  </div>

</div>

