
<div style="height: 90vh">
<div id="container">
    <div id="content">
        <h2>About</h2>
    </div>
</div>

<mat-grid-list cols="12" rowHeight="500px" padding="0px" margin="0px">
    <mat-grid-tile colspan="5" class="image-container">
      <img src="assets/Img.jpeg" alt="Image">
    </mat-grid-tile>
    <mat-grid-tile colspan="6">
        <div class="text_block">
            <p>
                I'm a skilled software developer with experience in Python, JavaScript, and expertise in libraries/frameworks like React, Angular and Node.js. I'm also good with MongoDB, PostgreSQL and MySQL. I'm a quick learner and collaborate closely with team to create efficient, scalable, and user-friendly solutions that solve real-world problems. Let's work together to bring the best ideas to life!
            </p>
        </div>
    </mat-grid-tile>
  </mat-grid-list>

</div>