nav {
    background-color: transparent;
  }
  
  nav ul {
    list-style-type: circle;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    padding: 10px;
  }
  
  nav ul li a {
    display: block;
    /* color: #ffffff; */
    color: #333333;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  nav ul li a:hover {
    /* background-color: #555555; */
    border-block-end: solid;
  }