
<div class="container" style="height: 95vh">

    
        <div id="content">
            <h2>Overview</h2>
        </div>
    
<div class="cards">
    <div class="card">
        <img src="assets/web-developer.svg" alt="Image" class="card-img">
        <div class="card-content">
        <h3 class="card-title">Web Developer</h3>
        </div>
    </div>

    <div class="card">
        <img src="assets/software-developer.svg" alt="Image" class="card-img">
        <div class="card-content">
        <h3 class="card-title">Software Developer</h3>
        </div>
    </div>

    <div class="card">
        <img src="assets/full-stack-developer.svg" alt="Image" class="card-img">
        <div class="card-content">
        <h3 class="card-title">Full Stack Developer</h3>
        </div>
    </div>

</div>

</div>