
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
  }

  #content {
    text-align: center;
  }

  h3 {
    font-size: 40px;
    line-height: 1.5;
    font-family: "raleway-bold";
    color: #444649;
  }

  .background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  .background {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-color: #ffffff;
    background-image: radial-gradient(#bcf3f2 0%, #4ab5bd 70%, #dfdfdf 100%);
    animation: backgroundAnimation 10s linear infinite;
  }
  
  @keyframes backgroundAnimation {
    0% {
      transform: translate(-10%, -10%) scale(0.8);
    }
    50% {
      transform: translate(30%, 30%) scale(1.2);
    }
    100% {
      transform: translate(-10%, -10%) scale(0.8);
    }
  }
  