#content {
    display: flex;
    justify-content: center;
  }

h2 {
    text-align: center;
    display: block;
    border-block-end: solid;
    font-size: 40px;
    line-height: 1.5;
    font-family: "raleway-bold";
    color: #444649;
}

.card {
    width: 300px; /* Adjust the width as needed */
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    padding: 20px;
    margin: 20px;
    height: 50%;
  }
  
  .card:hover {
    transform: scale(1.05); /* Increase the scale on hover for a slight zoom effect */
  }
  
  .card-img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .card-content {
    padding: 16px;
    text-align: center;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .cards {
    display: flex;
    padding: 20px;
    justify-content: center;
}