
<div class="container" style="height: 95vh">

    
    <div id="content">
        <h2>PROJECTS</h2>
    </div>

    <div class="cards">
    <div class="card">
        <div class="card-front">
          <img src="assets/13259.jpg" alt="Front Image">
        </div>
        <div class="card-back">
          <p>Chat Room <br><br> A Chat Website where users can create breakout rooms and chat, share their live location and images. </p>
        </div>
      </div>
      
      <div class="card">
        <div class="card-front">
          <img src="assets/81075.jpg" alt="Front Image">
        </div>
        <div class="card-back">
          <p>Ascle <br><br> Hospital Management Website</p>
        </div>
      </div>
      
      <div class="card">
        <div class="card-front">
          <img src="assets/5208996.jpg" alt="Front Image">
        </div>
        <div class="card-back">
          <p>ChatBot <br><br> Chatbot created using Google DialogFlow</p>
        </div>
      </div>
    </div>

    <div class="cards">
      
      <div class="card">
        <div class="card-front">
          <img src="assets/alzeimer.jpeg" alt="Front Image">
        </div>
        <div class="card-back">
          <p>CARE <br><br> A one stop solution App for people suffering from Alzeimer's Disease. Contains all information and a Chatbot which answers all user queries. </p>
        </div>
      </div>
      
      <div class="card">
        <div class="card-front">
          <img src="assets/anpr.png" alt="Front Image">
        </div>
        <div class="card-back">
          <p>ANPR <br><br> Automatic Number Plate Recognition System</p>
        </div>
      </div>
      
      <div class="card">
        <div class="card-front">
          <img src="assets/gaming.jpeg" alt="Front Image">
        </div>
        <div class="card-back">
          <p>Game Maker <br><br> An application where users can create games like Mario, Brick and many more.</p>
        </div>
      </div>
    </div>
    

</div>